*{
	margin: 5px;
	padding: 0;
	box-sizing: border-box;
}
.mainDiv{
	width:100%;
	border-radius: 12px;
	background-color: #FFFFFF;
    margin-top: 30px;
	display: grid;
    grid-template-columns: 400px auto;
	box-shadow: 0 12px 24px -4px rgba(145, 158, 171, 0.12);
	box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.2), 0 0 20px 0 rgba(145, 158, 171, 0.2);
}
.Adminclass{
	border-right: 1px solid #EAEFF4 ;
}
.InputStyle{
	width:360px;
	border-radius:4px;         
	border:1px solid #EAEFF4;
	font-weight:400px;
	font-size:14px;
}
.fontstylings{
	color:black;
	font-weight:bold;
	font-size: medium;
}

